<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
           http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

	<context:component-scan base-package="com.loycl.mt.work"/>
	<tx:annotation-driven/>

	<!-- Activates scanning of @Autowired -->
	<context:annotation-config/>

	<!-- auto proxy -->
	<bean
			class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

	<rabbit:connection-factory
			id="amqpConnectionFactory"
			host="#{ systemEnvironment['MT_RABBIT_MQ_HOST']?:'localhost'}"
			port="#{ systemEnvironment['MT_RABBIT_MQ_PORT']?:'5672'}"
			username="#{ systemEnvironment['MT_RABBIT_MQ_UNAME']?:'admin'}"
			password="#{ systemEnvironment['MT_RABBIT_MQ_PASSCODE']?:'welcome123'}"
			virtual-host="#{ systemEnvironment['MT_RABBIT_MQ_VHOST']?:'/'}"
			channel-cache-size="#{ systemEnvironment['MT_RABBIT_MQ_CACHE_SIZE']?:'25'}"/>

<!--
	<rabbit:topic-exchange name="mt.topic.exchange">
		<rabbit:bindings>
			<rabbit:binding queue="notification.q" pattern="mt.route.*"/>
		</rabbit:bindings>
	</rabbit:topic-exchange>-->

	<!--<rabbit:template id="consumeAmqpTemplate"
	                 connection-factory="amqpConnectionFactory"
	                 exchange="mt.topic.exchange"
	                 routing-key="mt.route.sms"/>
-->
	<rabbit:admin connection-factory="amqpConnectionFactory"/>

	<rabbit:listener-container connection-factory="amqpConnectionFactory">
		<!-- adding more than one queue names will cause duplicate.-->
		<rabbit:listener ref="mtWorkerImpl"
                         queue-names="notification.q, notification.q1, notification.q2, notification.q3"/>
	</rabbit:listener-container>

</beans>